---
http_interactions:
- request:
    method: post
    uri: https://api.bridgeapi.io/v2/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"john.doe@email.com","password":"password123"}'
    headers:
      Bankin-Version:
      - '2021-06-01'
      Client-Id:
      - "<api_client_id>"
      Client-Secret:
      - "<api_client_secret>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"a83186c4e9c4218bde568e8bbc4cfd555d402216-92f2393d-87c1-4e74-b864-c9c4c964757d","expires_at":"2024-10-08T21:00:19.945Z","user":{"uuid":"c5e47e53-b666-4598-9609-c2c47a578c5e","email":"john.doe@email.com"}}'
  recorded_at: Tue, 08 Oct 2024 19:00:19 GMT
recorded_with: VCR 6.3.1
