---
http_interactions:
- request:
    method: post
    uri: https://api.bridgeapi.io/v2/authenticate?email=john.doe@email.com&password=password123
    body:
      encoding: US-ASCII
      string: email=john.doe%40email.com&password=password123
    headers:
      Bankin-Version:
      - '2019-02-18'
      Client-Id:
      - "<api_client_id>"
      Client-Secret:
      - "<api_client_secret>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '383'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"75c02d86530cb4b4ab5f80ae4b3b692117dfb992-16ad332f-3368-4d56-a846-0fadc8cceb35","expires_at":"2020-12-23T23:32:44.158Z","user":{"uuid":"73a9a664-66b9-41a3-8f93-e404036f7c2e","resource_uri":"/v2/users/73a9a664-66b9-41a3-8f93-e404036f7c2e","resource_type":"user","email":"john.doe@email.com"}}'
  recorded_at: Wed, 23 Dec 2020 21:32:44 GMT
recorded_with: VCR 6.0.0
